
.fondo{
width: 100%;
background-image: url(Img/Fondo.webp);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
}

.titulo{
    text-align: center;
    margin-top: 70px;
}
.titulo h1{
    font-size: 50px;
}
.titulo p{
    font-size: 20px;
}